#map {
  height: 500px;
  margin-top: 20px;
}

.formContainer  {

  .searchContainer {
    margin: 10px 10px 10px 0;
  }

  .filterContainer {
    .typeContainer {
      display: block;
      // max-height: 120px;
      overflow: auto;
        
        .typeTitle {
          display: block;
          margin: 10px 10px 10px 0;
        }

        .typeCheckbox {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 5px;
        }
      }

    }
}